<h1>Where you at?</h1>

<%= form_for(@user) do |f| %>
  <div id="input">
    <div class="field">
      <%= f.label :status %>
      <%= f.select(:status, [["I'm here!"], ["On my way!"], ["I'll be there later.."]]) %>
    </div>
    <div class="field">
      <%= f.label :location %>
      <%= f.select(:location, [["Code Academy"], ["Code Cloud"]]) %>
    </div>
  </div>
  <div id="submit_button">
    <div class="action">
      <%= f.submit %>
    </div>
  </div>
<% end %>